/* Google fonts link */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* Navbar background styling */
.menu-bar{
    background-color: #00ad36;
    width: 100%;
}

/* Logo styling */
.menu-bar .logo-style{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
    padding-left: 50px;
}

/* Menu bar navigation tab text styling*/
.menu-bar .menu-list{
    color: white;
    letter-spacing: 1px;
    font-size: 30px;
    margin-right: 50px;
}

/* Toggler button border colour styling, border thickness and gave right margin to look better on the screen */
.custom-toggler.navbar-toggler{ 
    border-color: #ffffff;
    border-width: 3px;
    margin-right: 50px;
} 

/* Customised toggler button color with help from this (old) post https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/ */
.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

/* Navbar navigation tab text styling for active page */
.menu-bar .active{
    color: #d30731;
    font-weight: bold;
}

/* Home page hero image styling */
.callout-container{ 
    height: 115vh;
    width: 100%;
    background: url('../images/triclub.jpeg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    align-content: center;
    background-attachment: scroll;
}

/* Training locations page hero image styling */
.callout-container-training{ 
    height: 120vh;
    width: 100%;
    background: url('../images/lake-swimming.webp') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    align-content: center;
    background-attachment: scroll;
}

/* Membership page hero image styling */
.callout-container-membership{ 
    height: 120vh;
    width: 100%;
    background: url('../images/cyclist.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    align-content: center;
    background-attachment: scroll;
}

/* Join page hero image styling */
.callout-container-join{ 
    height: 120vh;
    width: 100%;
    background: url('../images/swimbikerunman.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    align-content: center;
    background-attachment: scroll;
}

/* Callout container styling for all pages  */
.call-out{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Callout message text styling for all pages  */
.callout-message{
    font-size: 50px !important;
    color: white; 
}

/* h2 text styling */
h2{
    font-weight: bold;
    color: #ffffff;
}

/* main body text and background styling on index.html */
.about-GTC{
    background-color: #d30731;
    color: #ffffff;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Footer background and text styling */
.footer{
    background-color: #00ad36;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 2px;
}

/* padding to social media icons */
.social-media{
   margin-top: -10px;
}