/* Google fonts link */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* Navbar background styling */
.menu-bar{
    background-color: #007c00;
    width: 100%;
}

/* Logo styling */
.menu-bar .logo-style{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
    padding-left: 20px;
}

/* Menu bar navigation tab text styling*/
.menu-bar .menu-list{
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

/* Toggler button border colour styling, border thickness and gave right margin to look better on the screen */
.custom-toggler.navbar-toggler{ 
    border-color: #ffffff;
    border-width: 3px;
    margin-right: 20px;
} 

/* Customised toggler button color with help from this (old) post https://www.geeksforgeeks.org/how-to-change-hamburger-toggler-color-in-bootstrap/ */
.custom-toggler .navbar-toggler-icon { 
    background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

/* Navbar navigation tab text styling for active page */
.menu-bar .active{
    color: #ec7676;
}

/* media query to increase padding-left on logo in navbar on all pages above small breakpoint*/
@media screen and (min-width: 576px){
    #logo-hover{
        padding-left: 50px;
    }
}

/* media query to increase margin-right on toggler button in navbar on all pages above small breakpoint*/
@media screen and (min-width: 576px){
    #menu-hover{
        margin-right: 50px;
    }
}

/* Home page hero image styling */
.callout-container{ 
    height: 80vh;
    width: 100%;
    background: url('../images/triclub.jpeg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    align-content: center;
    background-attachment: scroll;
}

/* Training locations page hero image styling */
.callout-container-training{ 
    height: 80vh;
    width: 100%;
    background: url('../images/lake-swimming.webp') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    align-content: center;
    background-attachment: scroll;
}

/* Membership page hero image styling */
.callout-container-membership{ 
    height: 80vh;
    width: auto;
    background: url('../images/cyclist.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    align-content: center;
    background-attachment: scroll;
}

/* Triathlon page hero image styling */
.callout-container-triathlon{ 
    height: 80vh;
    width: auto;
    background: url('../images/triathlon-cartoon.png') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    align-content: center;
    background-attachment: scroll;
}

/* Join page hero image styling */
.callout-container-join{ 
    height: 80vh;
    width: 100%;
    background: url('../images/swimbikerunman.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    align-content: center;
    background-attachment: scroll;
}

/* Callout container styling for all pages  */
.call-out{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Callout message text styling for all pages  */
.callout-message{
    font-size: 50px !important;
    color: white; 
}

/* h2 text styling */
h2{
    font-weight: bold;
    color: #ffffff;
}

/* main body text and background styling on index.html */
.about-GTC{
    background-color: #ffffff;
    color: #000000;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* map section text and background styling on training.html */
.map-info{
    background-color: #ffffff;
    color: black;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Map styling on training.html */
#map {
  height: 600px;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/* Background and positioning styling of features section on training.html*/
.features{
    background-color:#ec7676;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* h4 styling of features section on training.html */
.features h4{
    color: #ffffff;
}

/* Styling of map key border */
.map-key{
    height: 80px;
    width: 80%;
    margin: auto;
    border-style: double;
    border-color: #b71c1c;
}

/* Styling for font awesome swim icon on training.html */
.swim-icon{
    color:lightskyblue;
}

/* Styling for font awesome bike icon on training.html */
.bike-icon{
    color:lightgreen;
}

/* Styling for font awesome run icon on training.html */
.run-icon{
    color:rgb(248, 248, 86);
}

/* Styling for main text on training.html */
.features p{
    color: #ffffff;
}

/* Header background styling on membership.html */
.membership-header{
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Membership benefits background and text styling on membership.html */
.membership-benefits{
    background-color: #59b460;
    color: #ffffff;
    max-width: 500px;
    margin-top: O;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

/* Membership options background and text styling on membership.html */
.membership-options{
    background-color: #ec7676;
    color: #ffffff;
    max-width: 500px;
    margin-top: O;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

/*Change margin of membership-container on screen sizes between 750-990px */
@media screen and (min-width: 750px) and (max-width: 990px) {
#membership-container {
    min-width: 500px;
    margin-left: 180px;
    }
}

#annual-membership{
    padding-right: 50px;
    padding-left: 50px;
}

/* Membership options button styling on membership.html */
.membership-options-btn{
    text-align: center;
    cursor: pointer;
    width: 50%;
    color: #ec7676;
}

/* Background and positioning styling of quiz intro section on triathlon.html*/
.features-quiz-intro{
    background-color:#ffffff;
    color: #000000;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 50px;
}

/* Added padding to white background behind quiz on triathlon.html */
.triathlon-quiz{
    padding-bottom: 50px;
}

/* Quiz background styling */
#quiz-container{
    width: 70%;
    background-color: #ec7676;
    color: #ffffff;
    margin: 20px auto;
    overflow: auto;
    padding: 25px;
}

/* Quiz button styling */
.quiz-btn {
    text-align: center;
    cursor: pointer;
    width: 50%;
}

/* Quiz button styling when cursor hovers over button */
.quiz-btn:hover {
    color: #000000;
    background-color: #ffffff;
}

/* Quiz 'Get my score' button styling */
.submit-results-btn {
    color: #ffffff;
    font-weight: bold;
    background-color: #007c00;
    border-radius: 50px;
    border: 3px solid #b71c1c;
    min-height: 40px;
    padding-top: 4px;
    max-width: 150px;
    margin: 0 auto;
    cursor: pointer;
}

/* Quiz 'Get my score' button styling when cursor hovers over button */
.submit-results-btn:hover {
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    border: 3px solid #b71c1c;
    min-height: 40px;
    padding-top: 4px;
}

/* Quiz answer options button styling */
.quiz-btn {
    margin: 0 auto;
    min-width: 100px;
    max-width: 550px;
    display: block; 
    margin-top: 3px;
    margin-bottom: 3px;
    
}

/* Quiz button styling for correctly selected answer */
.correct {
    background-color: #007c00;
    color: #ffffff;
    border: 2px solid #ffffff;
    pointer-events: none;
}

/* Quiz button styling for incorrectly selected answer */
.incorrect {
    background-color: red;
    color: #ffffff;
    border: 2px solid #ffffff;
    pointer-events: none;
}

/* Background styling to quiz results section */
#results{
    padding-top: 20px;
}

/* Main body background styling on join.html */
.join-GTC{
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
}

/* White background styling behind joining form on join.html */
#form-section-bg{
    padding-bottom: 50px;
    padding-top: 30px;
}

/* Joining form background and text styling */
#form-background{
    background-color: #59b460;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* Form fields styling */
.center-form {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin: 0 auto;
    max-width: 90%;
}

/* Submit form button styling */
button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #007c00;
    color: #fafafa;
}

/* Text styling for note at bottom of form */
.center-form p{
    color: #ffffff;
}

/* main body text and background styling for FAQs section on join.html */
.faqs{
    background-color: #ec7676;
    color: #ffffff;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* main body text and background styling for FAQs section on join.html */
.more-qs{
    background-color: #ec7676;
    color: #ffffff;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
}

/* Footer background and text styling */
.footer{
    background-color: #b71c1c;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 2px;
}

/* styling to social media icons */
.social-media{
   margin-top: -10px;
   color: #ffffff;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}





